<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net>
    <logger name="logDebug">
      <level value="DEBUG" />
      <appender-ref ref="DebugAppender" />
    </logger>
    <logger name="logInfo">
      <level value="DEBUG" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <logger name="a">
      <level value="DEBUG" />
      <appender-ref ref="aAppender" />
    </logger>
    <logger name="m">
      <level value="DEBUG" />
      <appender-ref ref="mAppender" />
    </logger>
    <logger name="p">
      <level value="DEBUG" />
      <appender-ref ref="pAppender" />
    </logger>
    <logger name="bu">
      <level value="DEBUG" />
      <appender-ref ref="buAppender" />
    </logger>
    <logger name="rb">
      <level value="DEBUG" />
      <appender-ref ref="rbAppender" />
    </logger>
    <logger name="RM">
      <level value="DEBUG" />
      <appender-ref ref="RMAppender" />
    </logger>
    <logger name="FG">
      <level value="DEBUG" />
      <appender-ref ref="FGAppender" />
    </logger>
    <logger name="MA">
      <level value="DEBUG" />
      <appender-ref ref="MAAppender" />
    </logger>
    <logger name="SR">
      <level value="DEBUG" />
      <appender-ref ref="SRAppender" />
    </logger>
    <logger name="TA">
      <level value="DEBUG" />
      <appender-ref ref="TAAppender" />
    </logger>
    <logger name="c">
      <level value="DEBUG" />
      <appender-ref ref="cAppender" />
    </logger>
    <logger name="cs">
      <level value="DEBUG" />
      <appender-ref ref="csAppender" />
    </logger>
    <logger name="jd">
      <level value="DEBUG" />
      <appender-ref ref="jdAppender" />
    </logger>
    <logger name="jm">
      <level value="DEBUG" />
      <appender-ref ref="jmAppender" />
    </logger>
    <logger name="hc">
      <level value="DEBUG" />
      <appender-ref ref="hcAppender" />
    </logger>
    <logger name="i">
      <level value="DEBUG" />
      <appender-ref ref="iAppender" />
    </logger>

    <logger name="cu">
      <level value="DEBUG" />
      <appender-ref ref="cuAppender" />
    </logger>
    <logger name="al">
      <level value="DEBUG" />
      <appender-ref ref="alAppender" />
    </logger>
    <logger name="ru">
      <level value="DEBUG" />
      <appender-ref ref="ruAppender" />
    </logger>
    <logger name="ni">
      <level value="DEBUG" />
      <appender-ref ref="niAppender" />
    </logger>
    <logger name="ag">
      <level value="DEBUG" />
      <appender-ref ref="agAppender" />
    </logger>
    <logger name="zn">
      <level value="DEBUG" />
      <appender-ref ref="znAppender" />
    </logger>
    <logger name="pb">
      <level value="DEBUG" />
      <appender-ref ref="pbAppender" />
    </logger>
    <logger name="pp">
      <level value="DEBUG" />
      <appender-ref ref="ppAppender" />
    </logger>
    <logger name="v">
      <level value="DEBUG" />
      <appender-ref ref="vAppender" />
    </logger>
    <logger name="y">
      <level value="DEBUG" />
      <appender-ref ref="yAppender" />
    </logger>
    <logger name="l">
      <level value="DEBUG" />
      <appender-ref ref="lAppender" />
    </logger>
    <logger name="ZC">
      <level value="DEBUG" />
      <appender-ref ref="ZCAppender" />
    </logger>
    <logger name="OI">
      <level value="DEBUG" />
      <appender-ref ref="OIAppender" />
    </logger>
    <logger name="SF">
      <level value="DEBUG" />
      <appender-ref ref="SFAppender" />
    </logger>
    <logger name="SM">
      <level value="DEBUG" />
      <appender-ref ref="SMAppender" />
    </logger>
    <logger name="CF">
      <level value="DEBUG" />
      <appender-ref ref="CFAppender" />
    </logger>
    <logger name="AP">
      <level value="DEBUG" />
      <appender-ref ref="APAppender" />
    </logger>
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/trade_%date{yyyy-MM-dd-HH-mm-ss}_debug.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/trade_%date{yyyy-MM-dd-HH-mm-ss}_info.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="aAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/a_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="mAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/m_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="pAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/p_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="buAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/bu_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="rbAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/rb_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="RMAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/RM_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="FGAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/FG_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="MAAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/MA_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="SRAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/SR_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="TAAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/TA_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="cAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/c_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="csAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/cs_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="jdAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/jd_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="jmAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/jm_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="hcAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/hc_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="iAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/i_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>

    <appender name="cuAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/cu_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="alAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/al_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="ruAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/ru_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="niAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/ni_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="agAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/ag_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="znAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/zn_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="pbAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/pb_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="ppAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/pp_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="vAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/v_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="yAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/y_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="lAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/l_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="ZCAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/ZC_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="OIAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/OI_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="SFAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/SF_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="SMAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/SM_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="CFAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/CF_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
    <appender name="APAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="Encoding" value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <file type="log4net.Util.PatternString" value="./logs/AP_%date{yyyy-MM-dd-HH-mm-ss}_quote.txt" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <CountDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss.fff} %p [%t] %m %n" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>